@inject PendidikanService PendidikanService
@inject IModalService modal
@inject SweetAlertService Swal
@inject IJSRuntime JSRuntime

<div class="row">
    <div class="col-12">
        <div class="fw-bold">
            Pendidikan
        </div>
        <div class="border-title"></div>
    </div>

    <div class="col-12 mt-4">
        <div class="d-flex justify-content-end">
            <Button type="button" Label="Tambah" bold data-bs-toggle="modal" data-bs-target="#formPendidikan"
                onClick="HandleAddPendidikan" />
        </div>
        <div>
            <Table table=@table HandleClickPrevious=" Previous" HandleClickNext="Next"
                HandlePageSizeChange="HandlePageSizeChange" mySieveModel="mySieveModel"
                totalCountData="PendidikanService.Pendidikans.totalCountData" HandleEditBtn="HandleEditBtnPendidikan"
                IsModalEdit modalEditNameId="formPendidikan" HandleDeleteBtn="HandleDeletePendidikan" />
        </div>
    </div>
</div>

<Form_pendidikan Id="@AppliationState.Id" formData="@formData" OnFormSubmit="HandleFormSubmission" />

@code {

    private Pendidikan formData = new Pendidikan();
    private async void HandleEditBtnPendidikan(string id)
    {
        AppliationState.Id = id;
        if (AppliationState.Id is not null)
        {
            mySieveModel.Filters = $"Id=={AppliationState.Id}";
            await PendidikanService.GetPendidikanById(mySieveModel);
            formData = PendidikanService.Pendidikan;
        }
        StateHasChanged();
    }

    private void HandleAddPendidikan()
    {
        AppliationState.Id = null;
        formData = new Pendidikan();
        StateHasChanged();
    }

    [CascadingParameter]
    public AppState AppliationState { get; set; }
    private SieveModel mySieveModel = new SieveModel
        {
            Page = 1,
            PageSize = 5,
        };
    private TableModelViewModel table = new TableModelViewModel();
    private List<Pendidikan> PendidikanItems = new List<Pendidikan>();


    private async Task HandleFormSubmission(Pendidikan formData)
    {
        mySieveModel.Filters = "";
        if (AppliationState.Id is null)
        {
            var result = await PendidikanService.CreatePendidikan(formData);
            if (result.ReasonPhrase == "OK")
            {
                JSRuntime.InvokeVoidAsync("clickElementById", "closeButtonPendidikan");
                //await LoadPendidikan(mySieveModel);
            }
        }
        else
        {
            var result = await PendidikanService.UpdatePendidikan(AppliationState.Id, formData);
            if (result.ReasonPhrase == "OK")
            {
                JSRuntime.InvokeVoidAsync("clickElementById", "closeButtonPendidikan");
            }
        }
        await LoadPendidikan(mySieveModel);
        StateHasChanged();
    }

    private async void HandleDeletePendidikan(string id)
    {
        Console.WriteLine($"Deletteee option clicked for item with value: {id}");
        var result = await Swal.FireAsync(new SweetAlertOptions
            {
                Title = "Are you sure to delete this item?",
                ShowCancelButton = true,
                ConfirmButtonText = "Yes!",
                Icon = "warning",
            });
        var confirm = !string.IsNullOrEmpty(result.Value);

        if (confirm)
        {
            await PendidikanService.DeletePendidikan(id);
            await LoadPendidikan(mySieveModel);
            StateHasChanged();
        }
    }

    private async Task Next()
    {
        mySieveModel.Page++; // Increment the page
        await LoadPendidikan(mySieveModel); // Call LoadPendidikan with the updated page
    }
    private async Task Previous()
    {
        mySieveModel.Page--;
        await LoadPendidikan(mySieveModel);
    }

    private async Task HandlePageSizeChange(ChangeEventArgs e)
    {
        if (int.TryParse(e.Value.ToString(), out int selectedPageSize))
        {
            mySieveModel.Page = 1;
            mySieveModel.PageSize = selectedPageSize;
            await LoadPendidikan(mySieveModel);
        }
    }
    protected override async Task OnInitializedAsync()
    {
        await LoadPendidikan(mySieveModel);
    }


    private async Task LoadPendidikan(SieveModel sieveModel)
    {
        try
        {
            await PendidikanService.LoadPendidikan(sieveModel);

            PendidikanItems = PendidikanService.Pendidikans.Items;

            table.Data = new List<List<object>>();

            foreach (var item in PendidikanItems)
            {
                var rowData = new List<object>
{
item.Id.ToString(),
item.Name,
};

                table.Data.Add(rowData);
            }

            table.Headers = new List<string>
{
"Name"
};
        }
        catch (Exception ex)
        {
            // Log the exception
            Console.WriteLine(ex);
            // Handle the exception as needed (e.g., show an error message to the user)
        }
        finally
        {
        }
    }

}
