.title-user[b-f04nb7s076]{
    color: white;
    font-size: 24px;
    margin-bottom: 20px;
}

.title-user .username[b-f04nb7s076]{
    font-weight: bold;
    margin-left: 5px;
}

.subtitle-user[b-f04nb7s076]{
    color: white;
    font-size: 16px;
}