@inject DivisiService DivisiService
@inject IModalService modal
@inject SweetAlertService Swal
@inject IJSRuntime JSRuntime

@page "/master-data/divisi"

<PageTitle>Divisi</PageTitle>

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center
                    justify-content-between">
            <h4 class="mb-sm-0 font-size-24">Divisi</h4>
        </div>
    </div>
</div>

<div class="row">

    <div class="col-12 mt-4">
        <div class="d-flex justify-content-end">
            <Button type="button" Label="Tambah" bold data-bs-toggle="modal" data-bs-target="#formDivisi"
                onClick="HandleAddDivisi" />
        </div>
        <div>
            <Table table=@table HandleClickPrevious=" Previous" HandleClickNext="Next"
                HandlePageSizeChange="HandlePageSizeChange" mySieveModel="mySieveModel"
                totalCountData="DivisiService.Divisies.totalCountData" HandleEditBtn="HandleEditBtnDivisi" IsModalEdit
                modalEditNameId="formDivisi" HandleDeleteBtn="HandleDeleteDivisi" />
        </div>
    </div>
</div>

<Form_divisi Id="@ApplicationState.Id" formData="@formData" OnFormSubmit="HandleFormSubmission" />

@code {

    private Divisi formData = new Divisi();
    private async void HandleEditBtnDivisi(string id)
    {
        ApplicationState.Id = id;
        if (ApplicationState.Id is not null)
        {
            mySieveModel.Filters = $"Id=={ApplicationState.Id}";
            await DivisiService.GetDivisiById(mySieveModel);
            formData = DivisiService.Divisi;
        }
        StateHasChanged();
    }

    private void HandleAddDivisi()
    {
        ApplicationState.Id = null;
        formData = new Divisi();
        StateHasChanged();
    }

    [CascadingParameter]
    public AppState ApplicationState { get; set; }
    private SieveModel mySieveModel = new SieveModel
        {
            Page = 1,
            PageSize = 5,
        };
    private TableModelViewModel table = new TableModelViewModel();
    private List<Divisi> divisiItems = new List<Divisi>();


    private async Task HandleFormSubmission(Divisi formData)
    {
        mySieveModel.Filters = "";
        if (ApplicationState.Id is null)
        {
            var result = await DivisiService.CreateDivisi(formData);
            if (result.ReasonPhrase == "OK")
            {
                JSRuntime.InvokeVoidAsync("clickElementById", "closeButtonDivisi");
                //await LoadDivisi(mySieveModel);
            }
        }
        else
        {
            var result = await DivisiService.UpdateDivisi(ApplicationState.Id, formData);
            if (result.ReasonPhrase == "OK")
            {
                JSRuntime.InvokeVoidAsync("clickElementById", "closeButtonDivisi");
            }
        }
        await LoadDivisi(mySieveModel);
        StateHasChanged();
    }

    private async void HandleDeleteDivisi(string id)
    {
        var result = await Swal.FireAsync(new SweetAlertOptions
            {
                Title = "Are you sure to delete this item?",
                ShowCancelButton = true,
                ConfirmButtonText = "Yes!",
                Icon = "warning",
            });
        var confirm = !string.IsNullOrEmpty(result.Value);

        if (confirm)
        {
            await DivisiService.DeleteDivisi(id);
            await LoadDivisi(mySieveModel);
            StateHasChanged();
        }
    }

    private async Task Next()
    {
        mySieveModel.Page++; // Increment the page
        await LoadDivisi(mySieveModel); // Call LoadDivisi with the updated page
    }
    private async Task Previous()
    {
        mySieveModel.Page--;
        await LoadDivisi(mySieveModel);
    }

    private async Task HandlePageSizeChange(ChangeEventArgs e)
    {
        if (int.TryParse(e.Value.ToString(), out int selectedPageSize))
        {
            mySieveModel.Page = 1;
            mySieveModel.PageSize = selectedPageSize;
            await LoadDivisi(mySieveModel);
        }
    }
    protected override async Task OnInitializedAsync()
    {
        await LoadDivisi(mySieveModel);
    }


    private async Task LoadDivisi(SieveModel sieveModel)
    {
        try
        {
            await DivisiService.LoadDivisi(sieveModel);

            divisiItems = DivisiService.Divisies.Items;

            table.Data = new List<List<object>>();

            foreach (var item in divisiItems)
            {
                var rowData = new List<object>
{
item.Id.ToString(),
item.Id.ToString(),
item.Name,
};

                table.Data.Add(rowData);
            }

            table.Headers = new List<string>
{
"ID",
"Name"
};
        }
        catch (Exception ex)
        {
            // Log the exception
            Console.WriteLine(ex);
            // Handle the exception as needed (e.g., show an error message to the user)
        }
        finally
        {
        }
    }

}
