@page "/fetchdata"
@using lunchBlazor.Shared
@inject HttpClient Http
@inject IBannerService BannerService

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (BannerService.Banners == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @foreach (var banner in BannerService.Banners)
    {
        <div>
            <h6>@banner.Name</h6>
        </div>
    }
}

@code {
    protected override async Task OnInitializedAsync()
    {
        await BannerService.LoadBanner();
    }
}
