@inject JenisMppService JenisMppService
@inject NavigationManager NavigationManager


<div class="modal fade" id="formJenisMpp" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <EditForm Model="formData" OnSubmit="@(()=>OnFormSubmit(formData))">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">
                        @if (Id == null)
                        {
                            <text>Create Jenis Mpp</text>
                        }
                        else
                        {
                            <text>Update Jenis Mpp</text>
                        }
                    </h1>

                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="form-label">Jenis Mpp Name</label>
                        <InputText @bind-Value="@formData.Name" class="form-control" />
                        <ValidationMessage For="@(()=>formData.Name)" />
                    </div>
                    @* <div class="form-check form-switch col-1">
                    <InputCheckbox class="form-check-input" type="checkbox" role="switch"
                    id="flexSwitchCheckChecked" @bind-Value="formData.IsActive" />
                    <label class="form-check-label" for="flexSwitchCheckChecked">Active</label>
                    </div> *@

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                        id="closeButtonJenisMpp">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
                <DataAnnotationsValidator />
            </div>
        </div>
    </EditForm>
</div>


@code {
    [Parameter]
    public Func<JenisMpp, Task> OnFormSubmit { get; set; }

    [Parameter]
    public string? Id { get; set; }
    [Parameter]
    public JenisMpp formData { get; set; } = new JenisMpp();


}