@inject GolonganService GolonganService
@inject IModalService modal
@inject SweetAlertService Swal
@inject IJSRuntime JSRuntime

<div class="row">
    <div class="col-12">
        <div class="fw-bold">
            Golongan
        </div>
        <div class="border-title"></div>
    </div>

    <div class="col-12 mt-4">
        <div class="d-flex justify-content-end">
            <Button type="button" Label="Tambah" bold data-bs-toggle="modal" data-bs-target="#formGolongan"
                 onClick="HandleAddGolongan" />
         </div>
         <div>
             <Table table=@table HandleClickPrevious=" Previous" HandleClickNext="Next"
                 HandlePageSizeChange="HandlePageSizeChange" mySieveModel="mySieveModel"
                 totalCountData="GolonganService.Golongans.totalCountData" HandleEditBtn="HandleEditBtnGolongan"
                    IsModalEdit modalEditNameId="formGolongan" HandleDeleteBtn="HandleDeleteGolongan" />
         </div>
     </div>
 </div>

 <Form_golongan Id="@ApplicationState.Id" formData="@formData" OnFormSubmit="HandleFormSubmission" />

 @code {

    private Golongan formData = new Golongan();
    private async void HandleEditBtnGolongan(string id)
    {
        ApplicationState.Id = id;
        if (ApplicationState.Id is not null)
        {
            mySieveModel.Filters = $"Id=={ApplicationState.Id}";
            await GolonganService.GetGolonganById(mySieveModel);
            formData = GolonganService.Golongan;
        }
        StateHasChanged();
    }

    private void HandleAddGolongan()
    {
        ApplicationState.Id = null;
        formData = new Golongan();
        StateHasChanged();
    }

    [CascadingParameter]
    public AppState ApplicationState { get; set; }
    private SieveModel mySieveModel = new SieveModel
        {
            Page = 1,
            PageSize = 5,
        };
    private TableModelViewModel table = new TableModelViewModel();
    private List<Golongan> departemenItems = new List<Golongan>();


    private async Task HandleFormSubmission(Golongan formData)
    {
        mySieveModel.Filters = "";
        if (ApplicationState.Id is null)
        {
            var result = await GolonganService.CreateGolongan(formData);
            if (result.ReasonPhrase == "OK")
            {
                JSRuntime.InvokeVoidAsync("clickElementById", "closeButtonGolongan");
                //await LoadGolongan(mySieveModel);
            }
        }
        else
        {
            var result = await GolonganService.UpdateGolongan(ApplicationState.Id, formData);
            if (result.ReasonPhrase == "OK")
            {
                JSRuntime.InvokeVoidAsync("clickElementById", "closeButtonGolongan");
            }
        }
        await LoadGolongan(mySieveModel);
        StateHasChanged();
    }

    private async void HandleDeleteGolongan(string id)
    {
        var result = await Swal.FireAsync(new SweetAlertOptions
            {
                Title = "Are you sure to delete this item?",
                ShowCancelButton = true,
                ConfirmButtonText = "Yes!",
                Icon = "warning",
            });
        var confirm = !string.IsNullOrEmpty(result.Value);

        if (confirm)
        {
            await GolonganService.DeleteGolongan(id);
            await LoadGolongan(mySieveModel);
            StateHasChanged();
        }
    }

    private async Task Next()
    {
        mySieveModel.Page++; // Increment the page
        await LoadGolongan(mySieveModel); // Call LoadGolongan with the updated page
    }
    private async Task Previous()
    {
        mySieveModel.Page--;
        await LoadGolongan(mySieveModel);
    }

    private async Task HandlePageSizeChange(ChangeEventArgs e)
    {
        if (int.TryParse(e.Value.ToString(), out int selectedPageSize))
        {
            mySieveModel.Page = 1;
            mySieveModel.PageSize = selectedPageSize;
            await LoadGolongan(mySieveModel);
        }
    }
    protected override async Task OnInitializedAsync()
    {
        await LoadGolongan(mySieveModel);
    }


    private async Task LoadGolongan(SieveModel sieveModel)
    {
        try
        {
            await GolonganService.LoadGolongan(sieveModel);

            departemenItems = GolonganService.Golongans.Items;

            table.Data = new List<List<object>>();

            foreach (var item in departemenItems)
            {
                var rowData = new List<object>
{
item.Id.ToString(),
item.Id.ToString(),
item.Name,
};

                table.Data.Add(rowData);
            }

            table.Headers = new List<string>
{
"ID",
"Name"
};
        }
        catch (Exception ex)
        {
            // Log the exception
            Console.WriteLine(ex);
            // Handle the exception as needed (e.g., show an error message to the user)
        }
        finally
        {
        }
    }

}
