@page "/pengajuan-mpp"
@inject NavigationManager Navigation
@inject MppFormService MppFormService

<PageTitle>Pengajuan MPP</PageTitle>


<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center
                    justify-content-between">
            <h4 class="mb-sm-0 font-size-24">Man Power Planning</h4>
            <div class="d-flex align-items-center">
                <div class="d-flex align-items-center">
                    <i class="bi bi-list-task mx-1 font-size-18 text-primary"
                        style="-webkit-text-stroke-width: 1px;"></i>
                    <div class="">
                        List View
                    </div>
                </div>
                <div class="d-flex mx-5">
                    <i class="bi bi-caret-left-fill text-primary"></i>
                    <div class="mx-3">2022</div>
                    <i class="bi bi-caret-right-fill text-primary"></i>
                </div>
                <Button bold Label="MPP Baru" btnClass="btn-info" IsBtnIcon onClick="HandleButtonClickAdd" />
             </div>
         </div>
     </div>
 </div>
 <!-- end page title -->


 <div class="row">
     <div class="col-lg-4 col-md-6 col-12">
         <CardPlan labelCard="Dilanjutkan ke Sect. OPCC" />
     </div>
     <div class="col-lg-4 col-md-6 col-12">
         <CardPlan labelCard="Disimpan Sebagai Draft" iconCardHeader="bi-pencil-square" />
     </div>
     <div class="col-lg-4 col-md-6 col-12">
         <CardPlan labelCard="Pengajuan MPP Ditolak" iconCardHeader="bi-x-circle" />
     </div>
 </div>
 <!-- end row -->

 @code {
    [CascadingParameter]
    public AppState ApplicationState { get; set; }
    private async Task HandleButtonClickAdd()
    {
        if (ApplicationState.MppForm == null)
        {
            ApplicationState.MppForm = new MppForm();
        }

        Navigation.NavigateTo("/pengajuan-mpp/input-mpp");
        ApplicationState.MppForm.NoMpp = "nompp1";
        ApplicationState.MppForm.NrpPemohon = "99999999";
        ApplicationState.MppForm.NamaPemohon = "Jhon Doe";
        var result = await MppFormService.CreateMppForm(ApplicationState.MppForm);
        Console.WriteLine(result);
        if (result.ReasonPhrase == "OK")
        {
        }
    }

}
