@page "/pengajuan-mpp/input-mpp"
@inject NavigationManager Navigation
@inject JenisMppService JenisMppService

<PageTitle>Pengajuan MPP</PageTitle>


<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center">
            <a href="/pengajuan-mpp" class="mb-sm-0 font-size-16 text-muted">Man Power Planning</a>
            <i class="bi bi-chevron-right text-primary mx-2" style="-webkit-text-stroke-width: 1px;"></i>
            <h4 class="mb-sm-0 font-size-16">Input MPP</h4>
        </div>
    </div>
</div>
<!-- end page title -->


<div class="row p-3 mt-2">
    <div class="fw-bold mb-3 font-size-16">Detail Pengajuan MPP</div>
    <div class="col-3">
        <label class="fw-bold">NRP Pemohon</label>
        <div class="ms-1">Auto_fill_NRP_User</div>
    </div>
    <div class="col-3">
        <label class="fw-bold">Nama Pemohon</label>
        <div class="ms-1">Auto_fill_NRP_User</div>
    </div>
    <div class="col-3">
        <label class="fw-bold">Divisi</label>
        <div class="ms-1">Auto_fill_NRP_User</div>
    </div>
    <div class="col-3">
        <label class="fw-bold">Lokasi</label>
        <div class="ms-1">Auto_fill_NRP_User</div>
    </div>
    <div class="col-3 mt-4">
        @if (isSelectMppLoaded)
        {
            <SelectComponent label="Jenis Mpp" listItems="listItemsJenisMpp" placeholder="Pilih Jenis..." />
        }
        else
        {
            <p>Loading...</p>
        }
    </div>
    <div class="col-3 mt-4">
        <div class="form-group">
            <label class="form-label">Tahun MPP</label>
            <input type="number" class="form-control" min="1900" max="2199" step="1" maxlength="4" minlength="4"
                @bind="selectedYear" oninput="@HandleYearInputChange" />
        </div>
    </div>
</div>

<div class="row">
    <div class="d-flex justify-content-between">
        <div class="fw-bold mb-3 font-size-16">Pengajuan MPP A1</div>
        <Button Label="Tambah Posisi" btnClass="btn-info" IsBtnIcon onClick="HandleButtonClickAddA1" />
     </div>
 </div>

 @code {
    [CascadingParameter]
    public AppState AppliationState { get; set; }
    private MppChildForm mppChildForm = new MppChildForm();
    private int selectedYear = DateTime.Now.Year;
    private void HandleYearInputChange()
    {
        if (selectedYear < 1900)
        {
            selectedYear = DateTime.Now.Year;
        }
        else if (selectedYear > 2199)
        {
            selectedYear = DateTime.Now.Year;
        }
    }
    private SieveModel mySieveModel = new SieveModel
        {
            Page = 1,
            PageSize = 5,
        };

    private List<JenisMpp> jenisMppList;
    private List<dynamic> listItemsJenisMpp;
    private bool isSelectMppLoaded = false; // Flag to indicate if data is loaded

    protected async override Task OnInitializedAsync()
    {
        await LoadDataAsync(); // Load data asynchronously
    }

    private async Task LoadDataAsync()
    {
        await JenisMppService.LoadJenisMpp(mySieveModel);

        jenisMppList = JenisMppService.JenisMpps.Items;

        listItemsJenisMpp = jenisMppList
        .Select(x => (dynamic)new { Id = x.Id, Value = x.Name })
        .ToList();

        // Set the flag to indicate that data is loaded
        isSelectMppLoaded = true;

        // Notify the child component that the data is ready
        StateHasChanged();
    }

    private async Task HandleButtonClickAddA1(MouseEventArgs e)
    {
        AppliationState.MppChildForm = mppChildForm;
        StateHasChanged();
        AppliationState.MppChildForm.Pengajuan = "A1";
        Navigation.NavigateTo("/pengajuan-mpp/tambah-a1");
    }
}
