@inherits LayoutComponentBase


<div class="sidebar-enable" data-sidebar-size="@(IsMinimize ? "sm" : "lg")">

    <CascadingValue Value="@ApplicationState">
        <!-- Begin page -->
        <div id="layout-wrapper">

            <!-- ========== Header ========== -->
            <Header MinimizeSidebar="MinimizeSidebar" IsMinimize=IsMinimize />
            <!-- Header End -->

            <!-- ========== Left Sidebar Start ========== -->
            <Sidebar IsMinimize=IsMinimize />
            <!-- Left Sidebar End -->

            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content @(IsMinimize ? "minimize" : "")">
                <div class="page-content">
                    <div class="container-fluid">
                        @Body
                    </div>
                </div>
            </div>



            <!-- ========== Footer ========== -->
            <Footer />
            <!-- ========== Footer End ========== -->



        </div>
        <!-- END layout-wrapper -->
    </CascadingValue>
    <!-- Right bar overlay-->
    <div class="rightbar-overlay"></div>
</div>




@code {
    private bool IsMinimize = false;

    private void MinimizeSidebar()
    {
        IsMinimize = !IsMinimize;
    }

    public AppState ApplicationState { get; set; } = new AppState();
}


<style>
    .main-content {
        transition: margin-left 0.3s ease-in-out, width 0.3s ease-in-out;
    }

    .main-content.minimize {
        margin-left: 70px;
        width: calc(100% - 70px);
        /* Reduce the width to accommodate the margin */
    }
</style>