@inject DepartemenService DepartemenService
@inject IModalService modal
@inject SweetAlertService Swal
@inject IJSRuntime JSRuntime

<div class="row">
    <div class="col-12">
        <div class="fw-bold">
            Departemen
        </div>
        <div class="border-title"></div>
    </div>

    <div class="col-12 mt-4">
        <div class="d-flex justify-content-end">
            <Button type="button" Label="Tambah" bold data-bs-toggle="modal" data-bs-target="#formDepartemen"
                 onClick="HandleAddDepartemen" />
         </div>
         <div>
             <Table table=@table HandleClickPrevious=" Previous" HandleClickNext="Next"
                 HandlePageSizeChange="HandlePageSizeChange" mySieveModel="mySieveModel"
                 totalCountData="DepartemenService.Departemens.totalCountData" HandleEditBtn="HandleEditBtnDepartemen"
                    IsModalEdit modalEditNameId="formDepartemen" HandleDeleteBtn="HandleDeleteDepartemen" />
         </div>
     </div>
 </div>

 <Form_departemen Id="@AppliationState.Id" formData="@formData" OnFormSubmit="HandleFormSubmission" />

 @code {

    private Departemen formData = new Departemen();
    private async void HandleEditBtnDepartemen(string id)
    {
        AppliationState.Id = id;
        if (AppliationState.Id is not null)
        {
            mySieveModel.Filters = $"Id=={AppliationState.Id}";
            await DepartemenService.GetDepartemenById(mySieveModel);
            formData = DepartemenService.Departemen;
        }
        StateHasChanged();
    }

    private void HandleAddDepartemen()
    {
        AppliationState.Id = null;
        formData = new Departemen();
        StateHasChanged();
    }

    [CascadingParameter]
    public AppState AppliationState { get; set; }
    private SieveModel mySieveModel = new SieveModel
        {
            Page = 1,
            PageSize = 5,
        };
    private TableModelViewModel table = new TableModelViewModel();
    private List<Departemen> departemenItems = new List<Departemen>();


    private async Task HandleFormSubmission(Departemen formData)
    {
        mySieveModel.Filters = "";
        if (AppliationState.Id is null)
        {
            var result = await DepartemenService.CreateDepartemen(formData);
            if (result.ReasonPhrase == "OK")
            {
                JSRuntime.InvokeVoidAsync("clickElementById", "closeButtonDepartemen");
                //await LoadDepartemen(mySieveModel);
            }
        }
        else
        {
            var result = await DepartemenService.UpdateDepartemen(AppliationState.Id, formData);
            if (result.ReasonPhrase == "OK")
            {
                JSRuntime.InvokeVoidAsync("clickElementById", "closeButtonDepartemen");
            }
        }
        await LoadDepartemen(mySieveModel);
        StateHasChanged();
    }

    private async void HandleDeleteDepartemen(string id)
    {
        Console.WriteLine($"Deletteee option clicked for item with value: {id}");
        var result = await Swal.FireAsync(new SweetAlertOptions
            {
                Title = "Are you sure to delete this item?",
                ShowCancelButton = true,
                ConfirmButtonText = "Yes!",
                Icon = "warning",
            });
        var confirm = !string.IsNullOrEmpty(result.Value);

        if (confirm)
        {
            await DepartemenService.DeleteDepartemen(id);
            await LoadDepartemen(mySieveModel);
            StateHasChanged();
        }
    }

    private async Task Next()
    {
        mySieveModel.Page++; // Increment the page
        await LoadDepartemen(mySieveModel); // Call LoadDepartemen with the updated page
    }
    private async Task Previous()
    {
        mySieveModel.Page--;
        await LoadDepartemen(mySieveModel);
    }

    private async Task HandlePageSizeChange(ChangeEventArgs e)
    {
        if (int.TryParse(e.Value.ToString(), out int selectedPageSize))
        {
            mySieveModel.Page = 1;
            mySieveModel.PageSize = selectedPageSize;
            await LoadDepartemen(mySieveModel);
        }
    }
    protected override async Task OnInitializedAsync()
    {
        await LoadDepartemen(mySieveModel);
    }


    private async Task LoadDepartemen(SieveModel sieveModel)
    {
        try
        {
            await DepartemenService.LoadDepartemen(sieveModel);

            departemenItems = DepartemenService.Departemens.Items;

            table.Data = new List<List<object>>();

            foreach (var item in departemenItems)
            {
                var rowData = new List<object>
{
item.Id.ToString(),
item.Name,
};

                table.Data.Add(rowData);
            }

            table.Headers = new List<string>
{
"Name"
};
        }
        catch (Exception ex)
        {
            // Log the exception
            Console.WriteLine(ex);
            // Handle the exception as needed (e.g., show an error message to the user)
        }
        finally
        {
        }
    }

}
