@page "/"
@inject GlobalService GlobalService
@inject NavigationManager NavigationManager
@inject ILocalStorageService LocalStorage

<PageTitle>Index</PageTitle>


<div class="row">
    <div class="col-12 card bg-secondary" style="border-radius: 10px;">
        <div class="row">
            <div class="col-9 px-4">
                <div class="title-user d-flex mt-5">Selamat Datang, <div class="username">
                        @if (user != null)
                        {
                            <div class="username">@user.UserName!</div>
                        }
                        else
                        {
                            <div class="username">Loading...</div>
                        }
                    </div>
                </div>
                <div class="subtitle-user mb-4">Selamat datang di aplikasi Planner, aplikasi perencanaan dan <br>
                    pengelolaan
                    man power PT. United Tractors .Tbk
                </div>
            </div>
            <div class="col-3 h-100 d-flex justify-content-end align-items-end">
                <img src="assets/images/user.png" alt="user" height="150px">
            </div>
        </div>
    </div>




</div>

@code {
    [CascadingParameter]
    public AppState ApplicationState { get; set; }
    private Users user;
    private bool loggedIn;
    protected override async Task OnInitializedAsync()
    {
        if (GlobalService != null)
        {
            user = await LocalStorage.GetItemAsync<Users>("profile");
            loggedIn = await GlobalService.CheckLogin();
        }

        if (!loggedIn)
        {
            NavigationManager.NavigateTo("/login");
        }

    }
}