@page "/"


<PageTitle>Index</PageTitle>


<div class="row">
    <div class="col-12 card bg-dark rounded p-4">
        <div class="title-user d-flex">Selamat Datang, <div class="username"> Nama User!</div>
        </div>
        <div class="subtitle-user">Selamat datang di aplikasi Planner, aplikasi perencanaan dan pengelolaan man power
            PT. United Tractors .Tbk
        </div>
    </div>


</div>

@code {

}